@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* font-size: 14px; */
}



.form-group{
	display: block;	
}

select:focus, textarea:focus, input:focus {
	outline: none !important;
	border:1px solid green;
	box-shadow: 0 0 10px #719ECE;
}

input, select, textarea{
	padding: 10px;
	border-radius: 5px;
	border: .5px solid #7777;
	display: block;
	margin-bottom: 15px;
	width: 40%;
	margin-top: 10px;
}
.selectbutton{	
	background-color: white;
	border: .5px solid #7777;
	border-radius: 5px;
	color: black;
}

.selectbutton span{
	text-align: start;
}

#caret{
	text-align:end;
}
.selectbutton:hover{
	background-color: white;
	color: black;
}
.selectdiv{
	background-color: white;
	width:max-content;
	padding: 10px;
}

.selectdiv li{
	list-style: none;
	cursor: pointer;
	margin-bottom: 4%;
	line-height: 1%;
	padding: 15px;		
	
}

.selectdiv li:hover{
	background-color: #7777;	
}
.selectdiv input{
	width: 100%;	
	margin-top: 0%;
	border: .1px solid #7777;

}

.selectdiv ::-webkit-input-placeholder {
	text-align: center;
 }
  
 .selectdiv :-ms-input-placeholder {  
	text-align: center; 
 }


div.dataTables_filter{
	margin-right: 20px;
}

.required{
	color: red;
	font-size: smaller;
}
.matchPwd{
	color: red;
	font-size: smaller;
	font-weight: 1000;
}
#submit{	
	background: rgb(0, 85, 128);
	color: white;
	font-weight: 800;
	margin-top: 5%;
}
#submit:hover{
	background: rgb(2, 78, 13);
}

.update{
	background: cyan;
	color: black;
}


div.dataTables_length{
	margin-left: 20px;
}
div.dataTables_filter label {    
    text-align: left;
    clear: both;
    float:right;
    margin-left:15px;
}
div.dataTables_length label {    
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

div.dataTables_length select{	
	width: 100px;
	text-align: left;
    float:right; 
	margin-left: 10px;   
}

div.dataTables_filter input{	
	width: 100px;	            
}
::-webkit-scrollbar{
	background: transparent;
	display: none;
}

.container{
	position: relative;
	width: 100%;
}

.navigation{
	position: fixed;
	width: 250px;
	height: 100%;
	background: rgb(0, 85, 128);
	transition: 0.5s;
	overflow-x: hidden;	
    color: white;
}

.inputErr{
	border: 1px solid red;
}

.inputSucc{
	border: 1px solid green;
}

.inputEmpty{
	border: .5px solid #7777;
}

.navigation.active{
	width: 60px;
}

.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}


.activeLink{
	background: black;
	width: 100%;	
	border: .5px solid white;
}

.navigation ul li:hover{
	background: #515153;
	border: 1px solid white;
}

.navigation ul li:nth-child(1){
	margin-bottom: 5px;
}

.navigation ul .first-child:hover{
	background: transparent;
	border: none;
}
.navigation ul li a .icon img{
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	margin-right: 2%;
}
.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	color: #fff;
	display: inline-flex;
	text-decoration: none;
}

.navigation ul li a .icon{
	position:  relative;
	display: block;
	min-width: 60px;
	height: 60px ;
	line-height: 60px;
	text-align: center;
}
.icon .logo{
	height: 100%;
	width: 100%;
}
.navigation ul li a .icon .fa{
	color: #fff;
	font-size: 24px;
}


.navigation ul li a .title{
	position:  relative;
	display: block;
	padding: 0 10px;
	height: 60px ;
	line-height: 60px;
	white-space: nowrap;
}
.navigation ul li a .title{
	position:  relative;
	display: block;
	padding: 0 10px;
	height: 60px ;
	line-height: 60px;
	white-space: nowrap;
}
/*  collapsible */

.navigation ul .collapsible{
	position:  sticky;
	display: fixed;
	padding: 0 10px;
	height: 60px ;
	line-height: 60px;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid red;
}

.collapsible .icon{
	padding-left: 5%;
	padding-right: 10%;
	height: 60px ;
	line-height: 60px;
}
.content {
	padding: 0 18px;	
	overflow: hidden;
	background-color: #3d3b3bf1;	
	width: 100%;
	/* padding-left: 25%;	 */
	
  }
  .content li{
	  width: 100%;
	  padding: 3px;
  }
  .content li a{
	width: 100%;
	padding-left: 25%;
}

.content li:hover  a{
	background-color: #062833;		

}
  .content-enter-active
	 {
	transition: all 0.5s ease;
	}
.content-enter-from,
.content-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.main{
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;    
	padding-top: 3%;
	min-height: 100vh;
	background: #f5f5f5;
	transition: 0.5s;    	
}
.main .content{
    margin-top: 5%;
}

.main h4{
	text-align: center;
	font-size: 28px;
	color: white;	
	
}

.main h1{
	text-align: center;
	font-size: 28px;
}

.topbar{
	width: 100%;
	background: black;
	height: 60px;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px; 
    color: white;	
	/* border: 1px solid red; */
}

/* .topbar {
    
} */

.main ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main ul li{
    background-color: #062833;
    color: white;
    padding: 10px;
    border-radius: 20%;
	cursor: pointer;
	margin: 2%;

}


.dataTables_wrapper{
	margin-bottom: 20px;
}
table{
	padding: 20px;
	width: 900px;	
	border-collapse: collapse;
	border: none;	
	margin-left: 2%;
	position: relative;				
	
}
table thead{
	background: rgb(0, 85, 128);;	
}
table thead tr th{
	color: white;
	padding: 10px;
	border-right: 1px solid rgb(80, 77, 77);
	border-bottom: 1px solid black;
}
table tbody{
	background: #fff;	
}
table tbody tr{
	border-bottom: 1px solid black;	
}
table tbody tr:last-child{
	border-bottom: none;
}
table tbody tr:hover{
	background-color: #f1f1eb;

}

table tbody td{
	padding: 10px;
}
table tbody tr td:last-child,
table thead tr th:last-child{
	border-right:none ;
}

.main ul li:hover{
    background-color: white;
    color: black;
	transition: 0.5s;
}



.main ul li:hover{
    background-color: white;
    color: black;
	transition: 0.5s;
}

button {
	background-color: rgb(0, 85, 128);;
	outline: none;
	border: none;
	padding: 10px;	
	color: white;	
	cursor: pointer;
	width: 40%;
	border-radius: 10px;
}
button:disabled{
	background:red;
} 
#drop-down-content{
	color: white;
	border: none;
	border-radius: 0px;
	width: 20%;
	margin-right: 2%;
}
.btn-danger{
	background: red;
	color: white;
	border: none;
	border-radius: 0px;
	width: 30%;
	margin-right: 2%;
}

.btn-edit{
	background: #03a9f4;
	color: white;
	border: none;
	border-radius: 0px;
	width: 30%;
	margin-right: 2%;
}

.btn-restore{
	background: #f0f403;
	color: rgb(7, 1, 1);
	border: none;
	border-radius: 0px;
	width: 30%;
	margin-right: 2%;
}

.btn-details{
	background: cyan;
	color: black;
	border: none;
	border-radius: 0px;
	width: 30%;
	margin-right: 2%;
}

button:hover{
	background-color: #062833;
	transition: 0.5s;
}

#dropdownBtn{
	background-color: #515153;
	border-radius: 0px;
	border: none;
	width: 100%;
}

#dropdownBtn:hover{
	background-color: #062833;
	transition: 0.5s;
}
.toggle{	
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;	
	z-index: 100000px;
	margin-left: 250px;
}
.topend{
	width: 500px;
	padding: 5px;	
	/* border: 1px solid white; */
	position: relative;
	margin-left: auto;
	float: right;
	align-content: center;
}
.sos{
	position: relative;	
	cursor: pointer;
	background-color: red;
	border-radius: 10px;
	padding: 10px;
	width: 100px;		
	line-height: 1px;	
	color: white;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 1000;
	margin-left: 23%;
}

.profile{	
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	right: 0;
	float: right;
	font-size: 14px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
.dropdown-menu{		
	align-items: center;
	background-color: green;	
	border: none;
	z-index: 10000;	
	
}
.dropdown-menu li{
	list-style-type: none;

}
.dropdown-menu li a{
	text-decoration: none;	
}
.profile:hover{
	background-color: #515153;
}


label{
	margin-bottom: 20%;
}
.toggle.active{
	/* position: fixed; */
	z-index: 1000000;
	/* right: 0; */
	margin-left: 3%;
}

.main.active{
	width: calc(100% - 60px);
	left: 60px;
}

.toggle::before{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
	color: white;
}

.vo.active,
.po.active,
.co.active{
	background-color: #03a9f4;
    color: white;
	font-weight: bold;
}

.view-container{
	position: relative;	
	display: flex;
	width: 100%;	
	justify-content: flex-start;
	overflow-x: auto;
	
}

.view-container .table{
	padding: 20px;
	width: 900px;	
	border-collapse: collapse;
	border: none;	
	margin-left: 2%;
	position: relative;		
	
}

.view-container .table thead{
	background: #062833;	
}

.view-container .table thead tr th{
	color: white;
	padding: 10px;
	border-right: 1px solid rgb(80, 77, 77);
	border-bottom: 1px solid black;
}

.view-container .table tbody{
	background: #fff;	
}

.view-container .table tbody tr td{
	color: black;
	padding: 10px;
	border-right: 1px solid rgb(80, 77, 77);	
	text-align: center;	
}

.view-container .table tbody tr{
	border-bottom: 1px solid black;
}

.view-container .table tbody tr:last-child{
	border-bottom: none;
}

.view-container .table tbody tr:hover{
	background-color: #f1f1eb;

}

.view-container .table tbody tr td:last-child,
.view-container .table thead tr th:last-child{
	border-right:none ;
}


.loading{
	position: absolute;	
	padding-top: 20%;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.797);
	height: 100%;
}
/*RESPONSIVE */
@media (max-width: 992px)
{
	.view-container .table{
		width: auto;
	}
	
	.navigation{
		left: -250px;
	}
	
	.navigation{
		width: 100%;
		z-index: 1000;
		left: -100%;
	}

	.navigation.active{
		left: 0;
		width: 250px;
	}
	
	.main{
		width: 100%;
		left: 0;
	}
	
	.main.active{
		width: calc(100% - 250px);		
		left: 250px;
	}
	
	.cardBox{
		grid-template-columns: repeat(2, 1fr);		
	}
	
	.toggle{
		margin-left: 0px;
	}
	
	.toggle.active{
		margin-left: 250px;
	}

	input, select, textarea{
		padding: 8px;
		border-radius: 15px;
		border: .5px solid #7777;
		display: block;
		margin-bottom: 15px;
		width: 90%;
	}
	
	
	
	
	
	
	
	
	
}
.main .topbar .schoolinfo{
	position: relative;
	text-align: center;	
}
.main .topbar .schoolinfo h1 {	
	color: white;		
	
}
.main .topbar .schoolinfo p{	
	color: white;	
	
	
	/* LOADER */
	
	/* END OF LOADER */
}


@media( max-width:480px ){		
	.view-container .table{
		width: auto;	
	}
	input, select, textarea{
		padding: 8px;
		border-radius: 15px;
		border: .5px solid #7777;
		display: block;
		margin-bottom: 15px;
		width: 90%;
	}
	.container{
		height: 100vh;
		width: 100%;
	}
	.navigation{
		width: 100%;
		z-index: 1000;
		left: -100%;
	}

	.navigation.active{
		width: 100%;
		left: 0;
	}

	.toggle {
		margin-left: 0px;
	}

	.toggle.active{
		position: fixed;
		z-index: 1000000;
		right: 0;
		left: initial;
	}

	.toggle.active::before{
		 color: #fff;
	}

	.main, .main.active{
		width: 100%;
		left: 0;
	}
	.main .topbar .schoolinfo{		
		position: relative;
		/* border: 1px solid red; */
		margin-top: 2%;
	}
	.main .topbar .schoolinfo h1 {
		font-size: 20px;
		color: rgba(255, 255, 255, 0.847);		
	}
	
	.main .topbar .schoolinfo p{
		font-size:12px;
		color: white;		
	}


	
	
}

